<section>
    <header>
        <button type="button" (click)="onAdd()">+</button>
        <h3>Section {{ no }}</h3>
        <button type="button" (click)="onRemove()" [disabled]="!removable">X</button>
    </header>
    <div>
        <app-input-container 
        *ngFor="let item of data; let i = index" 
        [no]="i + 1" 
        [data]="item" 
        [removable]="data.length > 1" 
        (remove)="removeChild(i)"
        (dataChange)="onChanges($event)"></app-input-container>
    </div>
</section>